.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
}

.left-side {
    width: 17%;
    margin-left: 2%;
    height: 100%;
    border-right: 0.1px solid grey;

}

.right-side {
    background-color: black;
    margin-right: 20px;
    width: 80%;
    overflow-y: auto;
}


.textlogo {
    font-size: 30px;
    font-weight: bold;
    color: white;

    margin-top: 20px;
}

.txttrangchu {
    font-size: 15;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-left: 15px;
}

.item1 {
    display: flex;
    margin-top: 30px;
   
}

.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 70%;
    float: left;
}

.post-item {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    border-bottom: 0.01px solid grey;
    background-color: black;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-header1 {
    display: flex;
    padding: 10px;
    border-radius: 0.01px solid white;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: white;
}
.username1 {
   
    color: grey;
}

.post-image {
    margin-top: 10px;
    width: 100%;
}

.post-description {
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

.iconheart {
    padding: 10px;
    color: white;
    font-size: 20px;
}

.post-description-heart {
    margin-left: 10px;

    color: white;
}
.right-side-footer{
    width: 30%;
    float: right;
    margin-top: 20px;
}
.time{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
}
.chuyentaikhoan{
    color: blue;
    font-size: 12px;
    margin-left: 10px;
}
.friend{
    color: grey;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
}
.list-view-friend {
  
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}